body {

	text-align: center;
	background-color: black;
	background-image: url("bg1.png");
	font-family: verdana;

}

h1 {

	border-radius: 10px;
	border: 2px solid cornflowerblue;
	color: cornflowerblue;
	width: 1200px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 30px;
	background-image: url("bg2.jpg");
	padding: 25px 0 25px 0;

}

#contenu {

	display: inline-block;
	border-radius: 10px;
	border: 2px solid cornflowerblue;
	width: 70%;
	background-image: url("bg2.jpg");
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	min-height: 350px;

}

h2 {

	display: inline-block;
	text-decoration: underline;

}

h2.more {

	color: cornflowerblue;
	text-decoration: underline;

}

#optore {

	font-size: 3.5em;
	display: inline-block;
	margin-top: 80px;

}

button {

	background-color: cornflowerblue;
 	color: black;
 	border: 2px solid red ;
  	font-size: 1.1em;
  	border-radius: 10px;

}

button:hover, #togetrep:hover {

	background-color: green;
	color: white;

}

#rep {

  width: 350px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 3em;

}


#togetrep {

  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: cornflowerblue;
  border: 2px solid black;
  color: black;
  font-size: 1.1em;
  border-radius: 10px;

}

#valid {

	color: lime;
	font-size: 1.3em;

}

#reset {

	position: absolute;
  	bottom: 10px;
  	left: 10px;

}

#more {

	border-radius: 10px;
	border: 2px solid cornflowerblue;
	width: 25%;
	background-image: url("bg2.jpg");
	font-style: italic;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	max-height: 350px;

}

h4 {

	display: inline;
	text-decoration: underline;

}

#contener {

	background: transparent;
	width: 1200px;
	margin: auto;
	position: relative;
	height: 650px;

}

#score {

	color: greenyellow;
	font-size: 2em;
	margin-top: 130px;
	display: none;

}

.n1 {

	color: chartreuse;
	display: inline;

}

.n2 {

	color: yellow;
	display: inline;

}

.n3 {

	color: orange;
	display: inline;

}

.n4 {

	color: coral;
	display: inline;
}

.n5 {

	color: deeppink;
	display: inline;
}

#info {

	width: 400px;
	margin: auto;
	font-weight: bold;
	font-style: italic;
	margin-top: -25px;

}

#niv1s {
	color: white;
	background-color: green;
}

#pseudo {
	display: none;
}

#enterpseudo {
	background-color: black;
	color: white;
	height: 40px;
	border-radius: 100px;
	border: 1px solid white;
	font-size: 1.5em;
	padding-left: 30px;
}

#scores {
	border-radius: 10px;
	border: 2px solid cornflowerblue;
	width: 50%;
	height: 250px;
	position: absolute;
	bottom: 0px;
	color: white;
	background-color: black;
	overflow: hidden;
}